.Mctitle{
    height: 100%;
    width: 100%;
    padding-bottom: 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DDD;
    text-shadow: 2px 2px #000a;
    box-shadow: inset -2px -4px #0006, inset 2px 2px #fff5;
}

.McButton{
    height: 40px;
    font-family: "minecraft";

    white-space: nowrap;
    user-select: none;
    background: #999 url(https://i.ibb.co/rb2TWXL/bgbtn.png) center/cover;
    image-rendering: pixelated;
    border: 2px solid #000;
}
.McButton:hover .Mctitle{
    /* background-color: rgba(100, 100, 255, .45);
    text-shadow: 2px 2px #202013CC;
    color: #FFFFA0; */
    border: #fff9 2px solid;
}
.McButton:active .Mctitle {
    box-shadow: inset -2px -4px #0004, inset 2px 2px #FFF5;
}
.McBtnContainer{
    padding: 10px;
}