

.loading {
    background: -10px 78px;
    background-image: url("https://status.shwa.space/assets/images/icons.png");
    width: 10px;
    height: 8px;
    transform: scale(2.5, 2.5);
    image-rendering: pixelated;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: loadserver;
    animation-timing-function: step-start;
}

.offline {

    background: 0 40px;
    background-image: url("https://status.shwa.space/assets/images/icons.png");
    width: 10px;
    height: 8px;
    transform: scale(2.5, 2.5);
    image-rendering: pixelated;
}

.online {
    background: 0px 79px;
    background-image: url("https://status.shwa.space/assets/images/icons.png");
    width: 10px;
    height: 8px;
    transform: scale(2.5, 2.5);
    image-rendering: pixelated;
}

.loadingContainer {
    padding: 10px;

}

@keyframes loadserver {
    0% {
        background: -10px 79px;
        background-image: url("https://status.shwa.space/assets/images/icons.png");
    }

    20% {
        background: -10px 71px;
        background-image: url("https://status.shwa.space/assets/images/icons.png");

    }

    40% {
        background: -10px 63px;
        background-image: url("https://status.shwa.space/assets/images/icons.png");

    }

    60% {
        background: -10px 55px;
        background-image: url("https://status.shwa.space/assets/images/icons.png");

    }

    80% {
        background: -10px 47px;
        background-image: url("https://status.shwa.space/assets/images/icons.png");

    }
    100% {
        background: -10px 79px;
        background-image: url("https://status.shwa.space/assets/images/icons.png");
    }
}