.switch{
    position: relative;
    display: inline-block;
    width: 62px;
    height: 32px;
    border :2px solid rgb(170,170 ,170);
}
.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;

}
.slider:before {
    position: absolute;
    content: "";
    height: 28px;
    width: 29px;
    left: 0;
    right: 0;
    background: #999 url('/bar.png') center/cover;
      
  }

  input:checked + .slider {
    background-color: rgb(52, 175, 48);     
  }
  input:checked + .slider:before{
    box-shadow: -1px 0px 2px black;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(29px);
    -ms-transform: translateX(29px);
    transform: translateX(29px);
  }