.playerCount {
    text-align: end;
    flex-grow: 0;
    color: rgb(170, 170,170);
}
.serverInfoContainer{
    width: 100%;
}
.serverName {
    top: 0;
    flex-grow: 2;
    margin-left: 10px;
}
.serverContainer{
    margin: 5px;
    margin-top: 0px;
    padding: 15px;
    border: solid transparent 2px;
}
.serverContainer:hover{
    border: solid rgb(170, 170,170) 2px;
}
.serverContainer:active{
    /*background-color: rgba(255, 255,255,0.1);*/
}


.serverMotd {
    color: white;
    margin-left: 10px;
}