.container {
  background-image: url("https://status.shwa.space/assets/images/dirt.png");
  background-repeat: repeat;
  background-size: 64px;
}

.main {
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}
