.container {
  background-image: url("https://status.shwa.space/assets/images/dirt.png");
  background-repeat: repeat;
  background-size: 64px;
  font-size: large
  
}

.main {
  height: 86vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  /* padding-right: 20%; */
}

.mainOpen {
  height: 86vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
}

.page{
  background-image: url('https://i.imgur.com/77ofjEU_d.webp?maxwidth=760&fidelity=grand');
  background-repeat: no-repeat;
  background-size :cover;
  height: 100vh;
}
